/* змінні */
:root {
  --filter-btn: #f4f4fd;
  --btn-color: #4d5ae5;
  --border-filtr-btn: #e7e9fc;
  /* головний колір тексту заданий у body */
  --main-text-color: #434455;
  /* головний колір фону заданий у body */
  --background-color: #ffffff;
  --font-femily: 'Roboto';
  /* підзаголовки на головній , навігація в шапці */
  --nav-link-color: #2e2f42;
  /* колір активних посилань у шапці і кнопки на герої */
  --nav-link-hover: #404bbf;
  --customers-color: #8e8f99;
  --o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-border: rgba(46, 47, 66, 0.4);
  --footer-hover-btn: #31d0aa;
}
/* глобальні для баді */
body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
/* глобальне скидання марджинів заголовків і параграфів */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* глобальне скидання марджинів списків */
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
/* параграфи */
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* контейнер */
.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
  outline: auto;
}

/* Tablet screen > = 768 */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* секції */
.section {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: auto; */
}

/**
  |============================
  | header
  |============================
*/

.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .header {
    padding: 16px 0;
  }
}
.container-header {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

/* логотип */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
}
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}
/* меню навігації */

.navigation-menu {
  display: flex;
  align-items: center;
}
.nav-list {
  display: none;
  align-items: center;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}
.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  /* NAVY BLUE */
  color: #2e2f42;
  transition: color var(--o-transition);
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .nav-link {
    padding-bottom: 36px;
  }
}
.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
}
.nav-link.activ {
  color: var(--nav-link-hover);
}
.nav-link.activ::after {
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--nav-link-hover);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--nav-link-hover);
}
/* пошта телефон */
.adress-list {
  display: flex;
  gap: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .adress-list {
    flex-direction: column;
    gap: 12px;
  }
}
.contacts {
  display: none;
  font-style: normal;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 14px;
  padding-bottom: 14px;
  /* SLATE */
  color: #434455;
  transition: color var(--o-transition);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/**
  |============================
  | mobile menu
  |============================
*/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: white;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}
.nav-list-mobil {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.mobile-menu-link.activ {
  color: var(--nav-link-hover);
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--btn-color);
}
.link.contacts-link.tel {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.11;
  color: var(--btn-color);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 0;
}
@media only screen and (max-width: 360px) {
  .link.contacts-link.tel {
    font-size: 25px;
  }
}
.tel {
  margin-bottom: 40px;
}
.link.contacts-link.email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  padding: 0;
}
.footer-icons-list.mobile {
  justify-content: space-between;
}
/**
  |============================
  | main
  |============================
*/

/* герой */
.hero-section {
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg/herobgmobile.jpg);

  background-repeat: no-repeat;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-color: #2e2f42;
}
@media only screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/herobgmobile@2x.jpg);
  }
}
@media only screen and (min-width: 468px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/herobgtablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg/herobgtablet@2x.jpg);
    }
  }
}
@media only screen and (min-width: 769px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/herobg.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg/herobg@2x.jpg);
    }
  }
}
.title.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  max-width: 496px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  /* WHITE */
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .title.main-title {
    font-size: 56px;
  }
}
/* кнопки */
.button {
  cursor: pointer;
}
/* кнопка замовлень на головній сторінці */
.order-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  /* IRIS */
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  transition: background-color var(--o-transition);

  /* WHITE */
  color: #ffffff;
}
.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

/* секція2 feature */

.feature-section {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .feature-section {
    padding: 120px 0;
  }
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}
.feature-items {
  width: 396px;
}

@media only screen and (min-width: 768px) {
  .feature-items {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .feature-items {
    width: 264px;
  }
}

.title.studio-titles {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .title.studio-titles {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .title.studio-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
.feature-text {
  max-width: 356px;
}
@media only screen and (min-width: 1158px) {
  .feature-text {
    font-weight: 400;
  }
}
.feature-icons {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 1158px) {
  .feature-icons {
    display: flex;
  }
}

/**
  |============================
  | section3 - what are we doing
  |============================
*/

.samples-section {
  display: none;
  padding-bottom: 120px;
}
.doing-container {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 1158px) {
  .samples-section {
    display: block;
  }
}
.what-are-doin {
  margin-bottom: 72px;
}
/* сітка елементів */
.samples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.items-doing {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
/**
  |============================
  | section4 - team
  |============================
*/

.team-section {
  padding: 96px 0;
  background-color: #f4f4fd;
}
@media only screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
}

.card-content {
  padding: 32px 0;
}

/* колір фону для фото команди */
.team-cards {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  border-radius: 0px 0px 4px 4px;
}

.teamcard-titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  /* NAVY BLUE */
  color: #2e2f42;
}
.teamcard-posithon {
  text-align: center;
  margin-bottom: 8px;
}

/**
  |============================
  | section5 - customers
  |============================
*/

.section-customers {
  padding: 96px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .section-customers {
    padding-left: 108px;
    padding-right: 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .section-customers {
    padding: 120px 0;
  }
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* NAVY BLUE */
  color: var(--nav-link-color);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.customers-item {
  flex-basis: calc((100% - 32px) / 2);
  height: 88px;
}
@media only screen and (min-width: 768px) {
  .customers-list {
    gap: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .customers-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}
@media only screen and (min-width: 1158px) {
  .customers-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }
}

.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--customers-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--customers-color);
  transition: border-color var(--o-transition), color var(--o-transition);
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid #404bbf;
  color: #404bbf;
}
.svg-customers {
  fill: currentColor;
  width: 104px;
  height: 56px;
}
/* соціальні іконки */
.icons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-icons {
  width: 40px;
  height: 40px;
}
.social-lincs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--btn-color);
  color: var(--background-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color var(--o-transition);
}
.social-lincs:hover,
.social-lincs:focus {
  background-color: #404bbf;
}
.sotial-svg {
  fill: var(--filter-btn);
}

/**
  |============================
  | footer
  |============================
*/

/* section footer */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  /* NAVY BLUE */
  background: #2e2f42;
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
/* container footer*/

.footer-container {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    justify-content: left;
    flex-wrap: wrap;
    padding-left: 108px;
  }
}

/* footer info blok */

.footer-info {
  text-align: center;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-info {
    text-align: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-info {
    margin-right: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-info {
    margin-right: 120px;
    text-align: left;
    margin-bottom: 0;
  }
}
.footer-text {
  max-width: 264px;
  text-align: left;
  margin: 0 auto;

  /* CLOUD */
  color: #f4f4fd;
}
.studio-footer {
  color: #f4f4fd;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

/* footer social media blok */

.footer-media {
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-media {
    margin-bottom: 0;
  }
}
.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* WHITE */
  color: var(--background-color);
  margin-bottom: 16px;
}

.footer-icons-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  /* margin-bottom: 72px; */
}
.footer-hover:hover,
.footer-hover:focus {
  background-color: var(--footer-hover-btn);
}

/* footer subscribe form*/

@media only screen and (min-width: 1158px) {
  .footer-subscribe {
    margin-left: auto;
  }
}
.footer-subscribe-name {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-input-btn-wrupper {
    display: flex;
  }
}
.footer-subscribe-label {
  display: block;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-subscribe-label {
    margin-bottom: 0;
    margin-right: 24px;
  }
}
.footer-subsckribe-mail {
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .footer-subsckribe-mail {
    width: 264px;
    margin-bottom: 0;
  }
}
.footer-subsckribe-mail::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
}
.footer-subscribe-btn {
  display: flex;
  cursor: pointer;
  gap: 16px;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--btn-color);
  border: var(--btn-color);
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  padding: 8px 24px;
  transition: background-color var(--o-transition);
  margin: 0 auto;
}

.foofer-subscribe-vector {
  height: 24px;
  width: 24px;
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--footer-hover-btn);
}

/* списки */
.list {
  list-style: none;
}
/* посилання */
.link {
  text-decoration: none;
}

/**
  |============================
  | portfolio
  |============================
*/

/* падінги секції */

.main-portfolio {
  padding: 96px 0 120px;
}
/* кнопки фільтра */
.filtr-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}
.filtr-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--border-filtr-btn);
  color: #4d5ae5;
  background-color: var(--filter-btn);
  border-radius: 4px;
  transition: color var(--o-transition), background-color var(--o-transition),
    border-color var(--o-transition), box-shadow var(--o-transition);
}
.filtr-btn:hover,
.filtr-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.samples-list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.samples-list-portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-cards-link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow var(--o-transition);
}
/* ховер для карток портфоліо */
.portfolio-cards-link:hover,
.portfolio-cards-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* оверлей для портфоліо */

.portfolio-cards-link:hover .overlay,
.portfolio-cards-link:focus .overlay {
  transform: translate(0, 0);
}
.portfolio-list-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--o-transition);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: rgba(77, 90, 229, 1);
}

/* назви додатків і категорія */
.apps-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.app-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2e2f42;
  margin-bottom: 8px;
}

/**
  |============================
  | загальні стилі
  |============================
*/
/* заголовки */

.title {
  color: #2e2f42;
}

.subtitles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2e2f42;
}

/* приховування заголовка */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.sbtitle-text-transform {
  text-transform: capitalize;
}

.card-text {
  color: #434455;
}

/**
  |============================
  | modal window 
  |============================
*/

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--o-transition), visibility var(--o-transition);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden > .modal {
  transform: rotate(180deg);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  min-height: 576px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--o-transition);
}
@media only screen and (max-width: 395px) {
  .modal {
    width: 319px;
  }
}
@media only screen and (min-width: 769px) {
  .modal {
    width: 408px;
  }
}
.modal-close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  color: rgba(46, 47, 66, 1);
  transition: background-color var(--o-transition), border var(--o-transition);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  color: white;
  border: none;
}
.modal-close-btn-icon {
  transition: fill var(--o-transition);
  fill: currentColor;
}

/* modal form */

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: var(--nav-link-color);
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-border);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color var(--o-transition);
}
.modal-input:focus {
  outline: none;
  border-color: var(--btn-color);
}
.modal-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.modal-input-svg-wrapper {
  position: relative;
}
.modal-form-input-icon {
  position: absolute;
  bottom: 50%;
  left: 16px;
  transform: translateY(50%);
  width: 18px;
  height: 24px;
  transition: fill var(--o-transition);
}
.modal-input:focus + .modal-form-input-icon {
  fill: var(--btn-color);
}
.modal-input-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  /* LIGHT SLATE */
  color: var(--customers-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-top: 4px;
  border: 1px solid var(--modal-border);
  border-radius: 4px;
  transition: border-color var(--o-transition);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--btn-color);
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  /* NAVY BLUE modal */
  color: var(--modal-border);
}
.modal-textarea-wrapper {
  margin-bottom: 16px;
}
.modal-form-chekbox-wrapper {
  margin-bottom: 24px;
}
.modal-form-check-descr {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  /* LIGHT SLATE */
  color: #8e8f99;
}
.modal-form-check-descr::before {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  content: '';
  transition: var(--o-transition);
}
.modal-form-check:checked + .modal-form-check-descr::before {
  background-color: var(--nav-link-hover);
  /* OCEAN */
  border: 1px solid var(--nav-link-hover);
  border-radius: 2px;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-form-check:focus + .modal-form-check-descr::before {
  border-color: var(--nav-link-hover);
}
.modal-form-link {
  color: var(--btn-color);
}
.textarea-label {
  margin-bottom: 0;
}
